@import "tailwindcss";

@theme {
  --font-heading: var(--font-awesome-serif);
  --font-text: var(--font-golos-text);
  --color-primary: #b10000;
  --color-secondary: #630000;
  --color-background: #ffffff;
  --shadow-card: 0px 6px 27.7px -1px #00000017;
  --shadow-quality: 5px 5px 10.5px 0px hsla(0, 0%, 0%, 0.25);
}

body {
  color: #b10000;
  font-family: var(--font-golos-text), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-awesome-serif);
}
